@model IEnumerable<Volare.Models.AlunoViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Alunos</h3>
    <a class="btn btn-striped btn-outline-dark" href="/aluno/Create">Adicionar</a>
    <br><br><br>

    <div class="card bg-dark container">
        <div class="row pb-3">
            <div class="col-5">
                <label class="text-light">Nome</label>
                <input class="form-control" id="Nome" name="Nome"> 
            </div>
            <div class="col-5">
                <label class="text-light">Turma</label>
                <select class="form-control" id="TurmaId" name="TurmaId" asp-items=@ViewBag.Turmas></select>
            </div>
            <div class="col-2  mt-auto">
                <input  value="Filtrar" type="button" class="btn btn-outline-light align-middle" onclick="filter()" />
            </div>
        </div>
    </div>
    <br>

    <table id="table" class="table table-striped table-bordered">
        
    </table>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function filter() {
        var linkAPI = '/Aluno/Table';
        $.ajax({
            url: linkAPI,
            data: {Nome: $("#Nome").val(), TurmaId: $("#TurmaId").val()},
            success: function (dados) {
                $("#table").html(dados)
            }
        });
    }
    filter()
</script>
