@{
    ViewData["Title"] = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
        <marquee><h1>Sobre</h1></marquee>
        <br>
        <center> SISTEMA DE RECONHECIMENTO DE PRESENÇA ÁGIL PARA AMBIENTES ESTUDANTIS </center>
        <br>
    <p>
        Nosso projeto tem por objetivo desenvolver um protótipo de um sistema utilizando tecnologia de
        reconhecimento de presença por aproximação baseado em RFID, capaz de gerar controle e medição
        de frequência de alunos durante as aulas de maneira automatizada em ambientes escolares. Espera-se que os
        obtidos durante o desenvolvimento desse projeto possam colaborar na produtividade e qualidade da aula diminuindo
        o tempo médio de duração das chamadas durante as aulas.
    </p>
        <center>
            <p>
                <br>João Victor Santos – RA 082190013
                <br>Leonardo Matias – RA 082190014
                <br>Lucas Losano – RA 082190005
                <br>Rafael Pignatari – RA 082190018
                <br>Victor Cardoso – RA 082190023
                <br>
                <br><b>Professores:</b>
                <br>Fabio Cabrini - Sistemas Digitais e Microcontroladores
                <br>Marcelo Vianello - Gestão de Projetos
                <br>Eduardo Rosalem - Linguagem de Programação
                <br>Flavio Viotti - Banco de Dados
            </p>
        </center>
</div>







